page-login {
  .login-page-content{
    overflow: hidden;
    background-size: 100%,100%;
    background-image: url("../assets/imgs/login-page-bg.jpg");
    .login-form *{
      color: #fff!important;
    }
    ion-item.item-block:first-child{
      border-top: 0 !important;
    }
    ion-item{
      background-color: transparent;
      ion-icon{
        position: relative;
        top: 8px;
      }
    }
    .login-img-logo {
      padding-top: 15%;
      padding-bottom: 50px;
      width: 100%;
      text-align: center;
      ion-img {
        background: none;
      }
    }
  }

  .login-in-button{
    margin-top: 15px;
    height: 3.6rem !important;
  }
}
